button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border: none;
  display: inline-flex;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  font-weight: 800;
}

.breedbutton {
  color: white;
}

button:active {
  box-shadow: 0 2px 2px 0 red, 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: 0;
}

.btn_highlighted {
  color: black;
}

.title {
  font-weight: 800;
  font-size: 30px;
  color: palevioletred;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
}
.main {
  text-align: center;
  align-items: center;
}

.dogImages {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.image {
  width: 300px;
  height: 300px;
  margin: 8px;
  object-fit: scale-down;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonWrapper {
  height: 20;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.buttonWrapper::after {
  content: "";
  flex: auto;
}

@media screen and (max-width: 600px) {
  button {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border: none;
    display: inline-flex;
    margin: 3px;
    padding: 4px;
    border-radius: 6px;
    font-weight: 800;
  }

  .image {
    width: 45%;
    height: 45%;
    margin: 2.5%;
    object-fit: scale-down;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
